@import '~bootstrap/scss/bootstrap';
 .mainPage {
   background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/b-p-s25-kung-148828-lyj3996-3-schedule.jpg?auto=format&bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&mark=rawpixel-watermark.png&markalpha=90&markpad=13&markscale=10&markx=25&q=75&usm=15&vib=3&w=800&s=0fbac5dc3eefc685caf1ad414871cf76');
   height: 100vh;
   background-repeat: no-repeat;
   background-size: cover;
   opacity: 0.8;
 }
.contact {
  background-color: #007bff;
  border: 2px solid #E6E6FA;
  font-family: cursive;
  font-variant: normal;
  color: white;
  text-align: center;
  border-radius: 25px;
  padding: 20px;
  font-size: 10px;
}

body {
  background-color:#E6E6FA;
}

.scheduled-appointments {
font-family: cursive;
font-size: 30px;
font-weight: bolder;
border-radius: #E6E6FA;
font-variant: inherit;
color: #007bff;
}
